
<h1 style='font-weight: bold; font-size: 40px;'>Subreddits:</h1>


<% @subs.each do |sub| %>
  <span style='font-size: 30px;'><%= link_to sub.title, sub_url(sub) %></span>
  <br>
  <%= sub.description %>
  <br>
  <br>
  <br>
<% end %>



<br>
<%= button_to 'Add Post', new_post_url, method: :get %>
