<h1 style='font-size: 30px;'>New Sub</h1>

<form action="<%= subs_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value=" <%=form_authenticity_token %>">

  <label>Title
    <input type="text" name="sub[title]">
  </label>

  <label>Description
    <input type="text" name="sub[description]">
  </label>

  <input type="hidden" name="sub[moderator_id]" value="<%= current_user.id %>">

  <input type="submit" value="Create Sub!">
</form>
